<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/contact.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="JS/ankit.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Sofia|Lobster|Asul|Pacifico|Merienda' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Merienda|Pacifico|Oswald|Candal|Charmonman:400,700" rel="stylesheet">
</head>

<body>
    <% include header %>

    <div class="jumbotron-fluid">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-7">
                    <br>
                    <br>
                    <span id="profile">
                        <img src="images/contactme.png" alt="avatar">
                    </span>
    
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
<div class="container">
    
<div class="row">
    <div class="col-sm-6 col-md-6">
            <div class="card" style="width: 30rem; height: auto; margin-top: 3rem">
                    <div class="card-body">
                      <h5 class="card-title">Address</h5>
                      <h6>Street</h6>
                      <p>Horizon, 1121 N College Drive</p>
                      <h6>House No.</h6>
                      <p>Apartment 34</p>
                      <h6>City</h6>
                      <p>Maryville</p>
                      <h6>State</h6>
                      <p>Missouri</p>
                      <h5 class="card-title">Phone</h5>
                      <p>+91 959-549-8905</p>  
                      
                      
                    </div>
                  </div>
    </div>

    <div class="col-sm-6 col-md-6">
        <br><br>
    <form>
            <div class="row">
                    <div class="col">
                            <label for="exampleFormControlInput1">First Name</label>
                      <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                            <label for="exampleFormControlInput1">Last Name</label>
                      <input type="text" class="form-control" placeholder="Last name">
                    </div>
                  </div>
            <br>
           <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
          </div>
          </div>
        </div>
<% include footer %>
</body> 
</html>