<footer class="page-footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">
        <p><strong>CONNECT</strong></p>
        <a href="https://www.linkedin.com/in/ankit-prakash-8903ab27">
            <img border="0" alt="LinkedIN" src="images/footerIcons/linkedIn.png" width="50" height="50">
        </a>
        <a href="https://github.com/AnkitPrakash687">
            <img border="0" alt="GitHub" src="images/footerIcons/img_326384.png" width="50" height="50">
        </a>
        <a href="https://www.facebook.com/Ankit.praksh">
            <img border="0" alt="Facebook" src="images/footerIcons/facebook.png" width="50" height="50">
        </a>
    </div>
    </div>
</footer>