<div class="container">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

			<a class="navbar-brand" href="#"><a class="navbar-brand" href="#"><img border="0" alt="lOGO" src="images/LogoMakr_19k6Pb.png" width="50" height="50"></a></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="myNav">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="index.html">HOME</a>
					<a class="nav-item nav-link" href="tictac.html">PLAY TIC-TAC</a>
					<a class="nav-item nav-link" href="contact.html">CONTACT</a>
					<!--	<a class="nav-item nav-link disabled" href="#">MORE</a> -->
				</div>
			</div>
		</nav>
	</div>