.navbar{
	font-family: 'Candal', sans-serif;
	
}
.jumbotron{
	background-image: linear-gradient(rgba(109, 151, 111, 0.5),rgba(151, 109, 109, 0.5)), 
	url('../e165aeacdecfddfe17f23649665b3499.jpg');
	
	background-position: center;
}

#profile img {
	margin-left: 0rem;
	margin-top:5rem;
	height: 6em;
	width: 25em;	

}